/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2016, 8:13:16 PM
    Author     : Admin
*/

/* Base settings */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-backface-visibility: hidden;
}

.body-main{
    display: block;
    overflow: visible;
    margin: 1px auto 10px;
    max-width: 1200px;
    /*background-color: rgb(255, 80, 80);*/
}

html{
    font-size:100%; /*Default 16px/1em */
    line-height:130%;
    font-family: 'Lato', sans-serif;
}
body{
    padding: 0 10px 0 10px;
    background-color: white;
}

img.main-logo {
    padding-top: 150px; 
    margin-left: 25%;
}

img.main-logo-searched {
    padding-top: 20px; 
    width: 20%;
}

#footer{
    padding-top: 20px;
}

.button_active{
    color: #fff;
    background-color: #0095ff;
    border-color: #07c;
}
.button_center{
    /*margin-left: 15%;*/
}
.button_same_location{
    /*margin-left: 10%*/
}
.button_same_price{
    margin-left: 5%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    /*margin-left: 10px;*/
}
/* page setup */
.wrapper{
    width:100%;
}
.wrapper-paging{
    width:100%;
}
.wrapper-header{
    width: 100%;
}
section.row{
    margin:0 0 30px 0;
}
section.product-detail {
    margin-top: 30px;
    margin-bottom: 10px;
}
section.row-paging{
    padding-top: 20px;
}
.row{
    width: 100%;
    display: block;
    clear: both;
}

/* Actual content */
.container-item{
    /*position: relative;
    margin-top:40px;
    float:left;
    margin-right:20px;*/
    /*position: absolute;*/
    /*    top:50%;
        left:50%;*/
    /*    margin-left:130px;
        margin-top:130px;*/
}

.product{
    display: block;
    overflow: visible;
    margin: 1px auto 10px;
    max-width: 1200px;
}

.product-detail {
    background-color: rgb(255, 255, 255);
}

.product-detail-info {
    position: relative;
    top: 20px;
    /*background-color: rgb(255, 255, 255);*/
}

.item{
    margin: 20px 20px 0 0;
    float: left;
    vertical-align: top;
    width:367px;
    height:260px;
    /*background-image: url(http://fc06.deviantart.net/fs71/i/2010/037/9/b/Shoe_Product_Shot_by_ChrisHavron.jpg);*/
    -webkit-background-size: 367px 260px;
    -o-background-size: 367px 260px;
    background-size: 367px 260px;
    position: relative;
    top:10px;
    left:10px;
    z-index:5;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.item-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.42) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.42))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-8 */

    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.item:hover .item-overlay{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.42) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.42))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-8 */
    background-color: rgba(0,0,0,0.4);
}
.item-content{
    position: absolute;
    width:100%;
    bottom: 0;
    -webkit-transform: translate(0,100%);
    -moz-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    -o-transform: translate(0,100%);
    transform: translate(0,100%);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.item:hover .item-content{
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item-top-content{
    position: relative;
}
.item-top-content-inner{
    position: absolute;
    bottom: 0;
    padding:10px 15px 10px 15px;
    background: rgba(0, 51, 102,.7);
    width:100%;
}
.item-add-content{
    padding:0 15px 15px 15px;
    opacity:0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item:hover .item-add-content{
    opacity:1
}
.item-add-content-inner{
    border:0px solid #dadada;
    border-top-width:1px;
    padding-top:10px;
}

/* Buttons */
.item-button{
    border-radius:3px;
    width:30px;
    height:30px;
}
.item-button.play{
    background-color:#40c781;
    position: absolute;
    top: 15px;
    left: 15px;
    opacity:0;
    background-image: url(http://webstudios.dk/resources/img/play-img.png);
}
.item-button.play:hover{
    background-color:#34a46c;
}
.container-item:hover .item-button.play{
    opacity:1;
}

.item-button.share{
    background-color:#4f4f4f;
    position: absolute;
    top: 50px;
    left: 15px;
    opacity:0;
    background-image: url(http://webstudios.dk/resources/img/share-img.png);
}
.item-button.share:hover{
    background-color:#333333;
}
.container-item:hover .item-button.share{
    opacity:1;
}

.btn.buy{
    background-color: #40c781;
    text-align:center;
    line-height:42px;
    font-weight:700;
    color:#fff;
    border-radius:3px;
    text-decoration:none;
    opacity:1;
    border:0px solid #35a76e;
    border-bottom-width:2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn.buy:hover{
    background-color:#34a46c;
}
.expand{
    display:block;
}

/* Tags */
.sale-tag{
    width: 50px;
    height: 100px;
    background: #40c781;
    position: absolute;
    top:-45px;
    right:-10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.sale-tag span{
    position:absolute;
    top:48px;
    left:-5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size:11px;
    color:#fff;
}

/* content */

.item-product{
    width:65%;
    float:left;
}
.item-product-price{
    width:35%;
    float:right;
    text-align: right;
}
/* Style / Theming */

/*Prduct title*/
h2{
    font-size:1em;
    font-weight:400;
    color:#222;
}

.subdescription{
    font-family: 'tahoma';
    font-size:0.8em;
    font-weight:400;
    /*color:#0066ff;*/
    top: 10px;
    right: 10px;
}

/*product price*/
.item-product-price{
    color:#001a1a;
    /*color:#0066ff;*/
    font-size:1em;
    font-weight:700;
    position:relative;
    font-family:'tahoma'
}

.price-num{
    color: #ffff00;
    font-size: x-large;
    font-weight: 400;
}

.item-product-price .subdescription{
    color:#3399ff;
    /*color:#40c781;*/
    font-weight:700;
    font-size:0.8em;
}
.old-price{
    border:0 solid #7d7d7d;
    border-bottom-width:1px;
    margin-top:-11px;
    width:30px;
    position:absolute;
    right:-2px;
    bottom:10px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.item-content{
    background: rgba(255,255,255,.85);
}
.item-add-content{
    font-family: 'tahoma', sans-serif;
    font-weight:400;
    color:#7d7d7d;
}
.item-add-content .section{
    margin-bottom:10px;
}
.item-add-content .section:last-of-type{
    margin-bottom:0;
}
.item-add-content h4{
    font-weight:600;
    color:#222;
    font-size:0.8em;
}
.item-add-content p{
    font-size:0.8em;
}
/* Item menu */
.item-menu{
    position: absolute;
    top:3px;
    left:0px;
    height:254px;
    width:260px;
    border-radius:3px 0 0 3px;
    background:#4f4f4f;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item-menu.visible{
    -webkit-transform: translate(-70px,0);
    -moz-transform: translate(-70px,0);
    -ms-transform: translate(-70px,0);
    -o-transform: translate(-70px,0);
    transform: translate(-70px,0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item-menu:hover{
    -webkit-transform: translate(-70px,0);
    -moz-transform: translate(-70px,0);
    -ms-transform: translate(-70px,0);
    -o-transform: translate(-70px,0);
    transform: translate(-70px,0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*List*/
.popout-menu ul{
    list-style-type:none;
}
.popout-menu ul li{
    -webkit-box-shadow: inset 0px 1px rgba(255,255,255,0.1);
    box-shadow: inset 0px 1px rgba(255,255,255,0.1);
    border-bottom:1px solid #434343;
}
.popout-menu ul li:first-coof-type{
    -webkit-border-radius: 3px 0;
    border-radius: 3px 0;
}
.popout-menu ul li:last-of-type{
    border-bottom-width:0px;
}
.popout-menu ul li:hover{
    background:#434343;
}
.popout-menu ul li a{
    color:#eaeaea;
    font-weight:600;
    font-size:0.8em;
    text-decoration:none;
    line-height: 36px;
    padding:0 15px;
    display:block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.panel-heading {
    height: 45px;
    line-height: 1.3em;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-name {
    font-weight: bold;
    color: white;
}

/* Image slider area */

.slider{
    /*display: block;*/
    width: 50%; /*Same as width of the large image*/
    height: 100%;
    position: relative;
    /*Instead of height we will use padding*/
    padding-top: 370px; /*That helps bring the labels down*/
    /*margin: auto;*/
    /*Lets add a shadow*/
    /**/
    /*align-items: center;*/
}

.box-shadow {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

/*Last thing remaining is to add transitions*/
.slider>img{
    position: absolute;
    transition: all 0.5s;
    /*    height: 100%;
        width: 100%;*/
    max-height: 370px;
    max-width: 640px;
    /*min-width: 360px;*/
    min-height: 370px;
    left: 0;
    top: 0;
    padding: 10px;
    transform: translate(-75%, -75%) 
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    /*Lets add some spacing for the thumbnails*/
    margin: 18px 0 0 18px;
    border: 3px solid #999;

    float: left;
    cursor: pointer;
    transition: all 0.5s;

    /*Default style = low opacity*/
    opacity: 0.6;
}

.slider label img{
    display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}

.adding-info-area {
    margin-top: -360px;
    margin-left: 60%;
    height: 100px;
}

table.table-info {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    width: 80%;
}

tr.row-info {
    height: 40px;
}

td.title {
    width : 60%;
}

h1.product-name {
    margin: 5px;
    color:white;
}

h3.title {
    margin: 10px;
    margin-left: 20px;
}

p.description {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

h3.money {
    margin:10px;
    font-size: 30px;
    color: #ffcc00;
}

div.location {
    display: flex;
}

h4.location {
    margin: 5px;
    color: #f2f2f2;
}

h4.distance {
    margin: 5px;
    color: #f2f2f2;
}

th.title {
    /*width : 100%;*/
    background-color: #3399ff;
}

td.info {

}

#watch-header {
    min-height: 70px;
    padding-bottom: 5px;
    background-color: #3399ff;
}

#watch-content {
    margin-top:400px;
}

.yt-card.yt-card-has-padding {
    padding: 15px;
    margin-top: 180px;
}
.yt-card {
    margin: 0 0 10px;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text] {
    background-color: white;
    width: 100%;
    height: 45px;
    padding-left: 40px;
}

input.search {
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

#search {
    margin-top: 50px;
}

.text-search-empty {
    
}

.text-searched {
    width: 75% !important;
    margin-left: 20px;
}

a.page-number {
    border-color: black;
    border-width: thin;
    margin:1px;
    width: 60px;
    text-align: center;
}

button.page-number {
    font-size: large;
    width: 50px;
    height: 40px;
    margin: 1px;
    text-align: center;
}

.bold {
    font-weight: 800;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 30%;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}